<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MtG Card Collection App", home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Search", search_path %></li>
        <%= render logged_in? ? 'shared/navbar_logged' : 'shared/navbar_not_logged'  %>
      </ul>
    </nav>
  </div>
</header>
