<div class="center">
  <% if @result["layout"] != "transform" %>
    <%= image_tag("#{@result["image_uris"]["normal"]}", alt: "mtg card") %>
  <% else %>
    <% @result["card_faces"].each do |face| %>
      <%= image_tag("#{face["image_uris"]["normal"]}", alt: "mtg card") %>
    <% end %>
  <% end %>
</div>
