<% provide :title, "Collection" %>
<h1>Your Collection</h1>

<p>Add a card to your colection</p>

<p>View your collection</p>

<p>Make a new deck</p>

<p>edit a deck</p>

<p>You have <%= current_user.cards.count %> cards in your collection. </p>
