<% provide :title, 'Search' %>

  <div class="row">
    <div class="col-md-6">
      <%= render 'search_engine' %>
    </div>
    <div class="col-md-6 center searched_card">
      <%= render 'searched_card' %>
    </div>
  </div>
