<% provide :title, 'Search' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'search_engine' %>
  </div>
  <% if @result.present? %>
    <% if @result["total_cards"].nil? %>
      <%# <% Rails::logger.debug @result %>
      <%= render 'searched_card' %>
    <% else %>
      <%= render 'found_cards' %>
    <% end %>
  <% end %>
</div>
